---
version: 2
interactions:
    - id: 0
      request:
        host: api.tcgdex.net
        body: ""
        form: {}
        headers: {}
        url: https://api.tcgdex.net/v2/en/cards?name=Jungle
        method: GET
      response:
        body: '[{"id":"sv05-156","localId":"156","name":"Perilous Jungle","image":"https://assets.tcgdex.net/en/sv/sv05/156"}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"6f-5Jj7AeAIa4+z0DqlHo3FuDx99T8"
        status: 200 OK
        code: 200
        duration: 1.410791041s
