---
version: 2
interactions:
    - id: 0
      request:
        host: api.tcgdex.net
        body: ""
        form: {}
        headers: {}
        url: https://api.tcgdex.net/v2/en/sets/swsh3111/32
        method: GET
      response:
        body: '{"type":"https://tcgdex.dev/errors/not-found","title":"The resource you are trying to reach does not exists","status":404,"endpoint":"/en/sets/swsh3111/32","method":"GET"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"ab-wxXm6FtG+JnAszAaWZVJwAoSfpg"
        status: 404 Not Found
        code: 404
        duration: 271.855166ms
