---
version: 2
interactions:
    - id: 0
      request:
        host: api.tcgdex.net
        body: ""
        form: {}
        headers: {}
        url: https://api.tcgdex.net/v2/en/cards?localId=XY124
        method: GET
      response:
        body: '[{"id":"xyp-XY124","localId":"XY124","name":"Pikachu EX","image":"https://assets.tcgdex.net/en/xy/xyp/XY124"}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"6e-yLAY12PwGZqtx1rkUmguyuReuvI"
        status: 200 OK
        code: 200
        duration: 819.313416ms
