---
version: 2
interactions:
    - id: 0
      request:
        host: api.tcgdex.net
        body: ""
        form: {}
        headers: {}
        url: https://api.tcgdex.net/v2/en/sets?id=base2
        method: GET
      response:
        body: '[{"id":"base2","name":"Jungle","logo":"https://assets.tcgdex.net/en/base/base2/logo","symbol":"https://assets.tcgdex.net/univ/base/base2/symbol","cardCount":{"total":64,"official":64}}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"b9-8NguWaguPGD36mENaw5ny1VNFwA"
        status: 200 OK
        code: 200
        duration: 838.097125ms
