---
version: 2
interactions:
    - id: 0
      request:
        host: api.tcgdex.net
        body: ""
        form: {}
        headers: {}
        url: https://api.tcgdex.net/v2/en/cards?name=pikachu&pagination%3AitemsPerPage=2&pagination%3Apage=1
        method: GET
      response:
        body: '[{"id":"basep-1","localId":"1","name":"Pikachu","image":"https://assets.tcgdex.net/en/base/basep/1"},{"id":"fut2020-1","localId":"1","name":"Pikachu on the Ball","image":"https://assets.tcgdex.net/en/swsh/fut2020/1"}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"d9-lVVkFt5EbyceZxALTOxJ324bO8U"
        status: 200 OK
        code: 200
        duration: 845.294084ms
