---
version: 2
interactions:
    - id: 0
      request:
        host: api.tcgdex.net
        body: ""
        form: {}
        headers: {}
        url: https://api.tcgdex.net/v2/en/cards?name=pikachu
        method: GET
      response:
        body: '[{"id":"basep-1","localId":"1","name":"Pikachu","image":"https://assets.tcgdex.net/en/base/basep/1"},{"id":"fut2020-1","localId":"1","name":"Pikachu on the Ball","image":"https://assets.tcgdex.net/en/swsh/fut2020/1"},{"id":"2018sm-4","localId":"4","name":"Pikachu"},{"id":"basep-4","localId":"4","name":"Pikachu","image":"https://assets.tcgdex.net/en/base/basep/4"},{"id":"2014xy-5","localId":"5","name":"Pikachu"},{"id":"2017sm-5","localId":"5","name":"Pikachu"},{"id":"ex5.5-5","localId":"5","name":"Pikachu"},{"id":"cel25-5","localId":"5","name":"Pikach[...]
