---
version: 2
interactions:
    - id: 0
      request:
        host: api.tcgdex.net
        body: ""
        form: {}
        headers: {}
        url: https://api.tcgdex.net/v2/en/sets/swsh3/136
        method: GET
      response:
        body: '{"category":"Pokemon","id":"swsh3-136","illustrator":"tetsuya koizumi","image":"https://assets.tcgdex.net/en/swsh/swsh3/136","localId":"136","name":"Furret","rarity":"Uncommon","set":{"cardCount":{"official":189,"total":201},"id":"swsh3","logo":"https://assets.tcgdex.net/en/swsh/swsh3/logo","name":"Darkness Ablaze","symbol":"https://assets.tcgdex.net/univ/swsh/swsh3/symbol"},"variants":{"firstEdition":false,"holo":false,"normal":true,"reverse":true,"wPromo":false},"dexId":[162],"hp":110,"types":["Colorless"],"evolveFrom":"Sentret","description":"It makes a nest to suit its long and skinny body. The nest is impossible for other Pokémon to enter.","stage":"Stage1","attacks":[{"cost":["Colorless"],"name":"Feelin'' Fine","effect":"Draw 3 cards."},{"cost":["Colorless"],"name":"Tail Smash","effect":"Flip a coin. If tails, this attack does nothing.","damage":90}],"weaknesses":[{"type":"Fighting","value":"×2"}],"retreat":1,"regulationMark":"D","legal":{"standard":false,"expanded":true},"updated":"2024-06-18T00:34:39+02:00"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"408-v4pM5Y14QRQVeri8T73DjzL6yVw"
        status: 200 OK
        code: 200
        duration: 860.077917ms
