---
version: 2
interactions:
    - id: 0
      request:
        host: api.tcgdex.net
        body: ""
        form: {}
        headers: {}
        url: https://api.tcgdex.net/v2/en/sets/notfound
        method: GET
      response:
        body: '{"type":"https://tcgdex.dev/errors/not-found","title":"The resource you are trying to reach does not exists","status":404,"endpoint":"/en/sets/notfound","method":"GET"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"a8-2AL8RSctK8g9ZnmEjBQyuNCwsGk"
        status: 404 Not Found
        code: 404
        duration: 798.518583ms
