---
version: 2
interactions:
    - id: 0
      request:
        host: api.tcgdex.net
        body: ""
        form: {}
        headers: {}
        url: https://api.tcgdex.net/v2/en/series/notfound
        method: GET
      response:
        body: '{"type":"https://tcgdex.dev/errors/not-found","title":"The resource you are trying to reach does not exists","status":404,"endpoint":"/en/series/notfound","method":"GET"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"aa-FCm3irseoC7zxOQxOtgP7EX4Wo4"
        status: 404 Not Found
        code: 404
        duration: 255.778333ms
