---
version: 2
interactions:
    - id: 0
      request:
        host: api.tcgdex.net
        body: ""
        form: {}
        headers: {}
        url: https://api.tcgdex.net/v2/en/series/swsh
        method: GET
      response:
        body: '{"id":"swsh","logo":"https://assets.tcgdex.net/en/swsh/swshp/logo","name":"Sword & Shield","firstSet":{"cardCount":{"official":107,"total":166},"id":"swshp","logo":"https://assets.tcgdex.net/en/swsh/swshp/logo","name":"SWSH Black Star Promos","symbol":"https://assets.tcgdex.net/univ/swsh/swshp/symbol"},"lastSet":{"cardCount":{"official":159,"total":230},"id":"swsh12.5","logo":"https://assets.tcgdex.net/en/swsh/swsh12.5/logo","name":"Crown Zenith","symbol":"https://assets.tcgdex.net/univ/swsh/swsh12.5/symbol"},"releaseDate":"2019-11-15","sets":[{"cardCount":{"official":107,"total":166},"id":"swshp","logo":"https://assets.tcgdex.net/en/swsh/swshp/logo","name":"SWSH Black Star Promos","symbol":"https://assets.tcgdex.net/univ/swsh/swshp/symbol"},{"cardCount":{"official":202,"total":216},"id":"swsh1","logo":"https://assets.tcgdex.net/en/swsh/swsh1/logo","name":"Sword & Shield","symbol":"https://assets.tcgdex.net/univ/swsh/swsh1/symbol"},{"cardCount":{"official":192,"total":209},"id":"swsh2","logo":"https://assets.tcgdex.net/en/swsh/swsh2/[...]
